button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* || HOME PAGE */

.home-container {
  margin: auto;
  max-width: 90vw;
}

.home-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: baseline;
}

.home-header h1 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}

.home-header h2 {

  display: none;
}

.header-colour-first {
  color: #ccc;
}

.header-colour {
  color: red;
}


.saved-exhibitions-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  border-bottom: #b1a8a8 solid 2px;
  padding-bottom: 10px;
}

.saved-exhibitions-header h2 {
  display: none;
}

.create-exhibition-container {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.exhibition-name-input {
  text-align: center;
  font-size: 10px;
}
.saved-exhibitions {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  scrollbar-width: none;

}

.saved-exhibition-item {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #494949;
  box-shadow: 5px 5px 10px 2px rgba(5, 5, 5, 0.8);
  height: 148px;
}

.saved-exhibition-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.default-exhibition-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #494949;
  color: white;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 5px 5px 10px 2px rgba(5, 5, 5, 0.8);
  height: 148px;
}




.delete-button {
  background-color: #494949;
  justify-self: right;
  color: #b1a8a8;
  border: none;
  padding: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.delete-button:hover {
  background-color: #3f3e3e;
  color: white;
}

.exhibition-links-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.exhibition-link {
  text-decoration: none;
  color: #d6caca;
  justify-self: center;
  font-size: 12px;
}

.exhibition-link:hover {
  color: white;

}

/* || CURATE PAGE */

/* CURATE PREVIEW */

.curate-container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* grid-template-columns: 1fr 1fr;
  grid-template-areas: 'preview browse'; */
  /* column-gap: 50px; */
  /* margin-top: 42px; */
  /* margin-left: 5%;
  margin-right: 5%; */
}

.curate-preview {
  grid-area: preview;
  display: grid;
  grid-template-rows: 5vh 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'title . .'
    'exhibition exhibition exhibition';
  /* width: 40vw; */
  height: 20vh;
}


.exhibition-title {
  grid-area: title;
  height: 1vh;
  margin: auto;
}

.exhibition-preview-container {
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
  grid-area: exhibition;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start; */
  overflow-y: scroll;
  scrollbar-width: none;
  gap: 15px;
  padding: 10px;

}

.exhibit {
  display: grid;
  /* margin-left: 10px; */
  flex-basis: 20%;
  height: 148px;
  justify-items: center;
}

.exhibit button {
  background-color: #242424;
  color: #b1a8a8;
  padding: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: xx-small;
  justify-self: end;
}

.exhibit button:hover {
  background-color: #3f3e3e;
  color: white;
}

.exhibit img {
  max-height: 10vh;
  max-width: 7vw;
}

.exhibit p {
  font-size: x-small;
}

.exhibit-default {
  align-self: center;
  margin: auto;
}


/* CURATE BROWSE */

.curate-browse {
  grid-area: browse;
  display: grid;
  grid-template-areas:
    'harvard-link met-link'
    'browse-container browse-container'
    'browse-container browse-container';
  /* width: 40vw; */
  height: 80vh;
  /* border: #000000 2px solid; */
  /* box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8); */
}


.met-link {
  color: rgb(190, 180, 180);
  grid-area: met-link;
  height: 5vh;
  font-size: 10px;
}

.met-link:hover {
  color: white;
}

.met-link.met-toggle {
  background-color: rgb(81, 81, 87);
}

.harvard-link {
  grid-area: harvard-link;
  height: 5vh;
  color: rgb(190, 180, 180);
  font-size: 10px;
}

.harvard-link:hover {
  color: white;
}

.harvard-link.harvard-toggle {
  background-color: rgb(81, 81, 87);
}


/*MET & HARVARD COMPONENTS*/

.browse-page {
  /* border: #2c2b2b 2px solid;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8); */
  grid-area: browse-container;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 10px;
  margin-top: 10px;
  /* padding: 20px; */

}

/* 
.content-wrapper {
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
} */

.artworks-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
}

.artwork-card-cb {
  padding: 10px;
  background-color: #353535;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
  list-style-type: none;
}

.artwork-card-cb h2 {
  font-size: 14px;
}

/* .artwork-card-cb p {
  font-size: 14px;
} */

.artwork-card-cb button {
  margin: 5px;
  font-size: 12px;
}

.artwork-image-cb {
  display: block;
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* || ARTWORK DETAILS */

.artwork-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #dbdbdb;
}

.artwork-title {
  font-size: 30px;
}

.artwork-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.artwork-image {
  display: block;
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.artwork-info {
  background-color: #f9f9f9;
  padding: 20px;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.artwork-info p {
  margin: 10px 0;
}

.artwork-info a {
  color: #007acc;
  text-decoration: none;
}

.artwork-info a:hover {
  text-decoration: underline;
}

/* || EXHIBITION PAGE */

.exhibition-page-container {
  overflow: hidden;
}

.carousel-container {
  overflow: scroll;
  scrollbar-width: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carousel-item-artwork {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: #dbdbdb;
  background-color: #494949;
  font-size: 12px;
  box-shadow: 5px 5px 10px 2px rgba(5, 5, 5, 0.8);
  margin: auto;
  padding: 10px;
}

/* .artwork-title-ep {

} */


.carousel-artwork-image {
  max-width: 250px;
  border-radius: 10px;
}

/* .artwork-info-ellipsis {
  width: 50px;
} */

.artwork-info-container {
  background-color: #f9f9f9;
  padding: 20px;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* trial bit of css */
  /* width: 30px; */
  /* overflow: scroll; */
  cursor: pointer;
  /* Smooth transition for height/max-height and background-color */
  transition: max-height 0.4s ease-out, background-color 0.3s ease;
  height: 50px;
  /* Initial height, adjust as needed to fit the main text */
}

.artwork-info-contents {
  margin: 0;
  font-weight: bold;
}

.artwork-info-ep :hover {
  height: 200px;
  /* Expanded height, needs to be enough to fit all content */
  background-color: #e0e0e0;
}

.more-info {
  /* Initially hide the extra text using opacity */
  opacity: 0;
  transition: opacity 0.3s ease-in 0.1s;
  /* Add a slight delay for smoother appearance */
}

.artwork-info-ep:hover .more-info {
  opacity: 1;
}

/* || SIDEBAR */

/* Sidebar Toggle Button */
.toggle-sidebar-btn {
  background-color: #333;
  margin-left: 20%;
  margin-right: 20%;
  /* margin-bottom: 20px; */
  color: white;
  /* padding: 10px; */
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
}

/* Sidebar for Departments (Hidden by default on small screens) */
.departments-sidebar {
  display: none;
  flex: 0 0 200px;
  justify-content: center;
  padding: 10px;
  /* overflow-y: auto; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Open the sidebar when the 'open' class is added */
.departments-sidebar.open {
  display: flex;
  margin-left: 2%;
}

/* Header in the Departments Sidebar */
.departments-sidebar h3 {
  color: rgb(253, 253, 253);
  display: none;
}

.dpmt-button-container-met {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dpmt-button-container-harv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.department-title {
  margin: 0;
}

/* Buttons in the Departments Sidebar */
.departments-sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.departments-sidebar button:hover {
  background-color: #333;
}



/* || Pagination Controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5px; */
  gap: 5px;
  font-size: 12px;
}

.pagination-controls button {
  /* padding: 8px 16px; */
  font-size: 10px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


@media (min-width: 360px){
  .saved-exhibitions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  scrollbar-width: none;
  }
}


@media (min-width: 420px){

.home-header h2 {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

.saved-exhibitions-header {
 
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

}

  .saved-exhibitions-header h2 {
  margin: 0;
  display: block;
}


.curate-preview {
  height: 25vh;
}

.exhibition-preview-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}


@media (min-width: 600px) {
 

/* || HOME PAGE */

.home-header {
  flex-direction: row;
  align-items: baseline;
  gap: 25px;
}

.home-header h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 20.1 0;
}

/* .home-header h2 {
  display: block;
} */


.saved-exhibitions-header {
 
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

}

.saved-exhibitions-header h2 {
  
  margin: 0;
  display: block;
}


.exhibition-name-input {
  font-size: 14px;
}

.saved-exhibitions {
  /* flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  scrollbar-width: none; */
}

.saved-exhibition-item {
  margin-left: 10px;
  flex-basis: 20%;
}


.default-exhibition-item {
  flex-basis: 20%;
}




/* || ARTWORK DETAILS */

.artwork-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #dbdbdb;
}

.artwork-title {
  font-size: 30px;
}

.artwork-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.artwork-image {
  display: block;
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.artwork-info {
  background-color: #f9f9f9;
  padding: 20px;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.artwork-info p {
  margin: 10px 0;
}

.artwork-info a {
  color: #007acc;
  text-decoration: none;
}

.artwork-info a:hover {
  text-decoration: underline;
}

/* || EXHIBITION PAGE */

.exhibition-page-container {
  overflow: hidden;
}

.carousel-container {
  overflow: scroll;
  scrollbar-width: none;
  margin: auto;
  max-height: 70vh;
  /* gap: 10px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
  gap: 10px;
}

.carousel-item-artwork {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: #dbdbdb;
  background-color: #494949;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 5px 5px 10px 2px rgba(5, 5, 5, 0.8);
  max-width: 800px;
  margin: auto;
  padding: 20px;
  flex-basis: 20%;
  height: 400px;
}

/* .artwork-title-ep {

} */


.carousel-artwork-image {
  max-height: 40vh;
  border-radius: 10px;
}

.artwork-info-ellipsis {
  width: 50px;
}

.artwork-info-container {
  background-color: #f9f9f9;
  padding: 20px;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* trial bit of css */
  /* width: 30px; */
  /* overflow: scroll; */
  cursor: pointer;
  /* Smooth transition for height/max-height and background-color */
  transition: max-height 0.4s ease-out, background-color 0.3s ease;
  height: 50px;
  /* Initial height, adjust as needed to fit the main text */
}

.artwork-info-contents {
  margin: 0;
  font-weight: bold;
}

.artwork-info-ep :hover {
  height: 200px;
  /* Expanded height, needs to be enough to fit all content */
  background-color: #e0e0e0;
}

.more-info {
  /* Initially hide the extra text using opacity */
  opacity: 0;
  transition: opacity 0.3s ease-in 0.1s;
  /* Add a slight delay for smoother appearance */
}

.artwork-info-ep:hover .more-info {
  opacity: 1;
}

/* || SIDEBAR */

/* Sidebar Toggle Button */
.toggle-sidebar-btn {
  background-color: #333;
  margin-left: 20%;
  margin-right: 20%;
  /* margin-bottom: 20px; */
  color: white;
  /* padding: 10px; */
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

/* Sidebar for Departments (Hidden by default on small screens) */
.departments-sidebar {
  display: none;
  flex: 0 0 200px;
  justify-content: center;
  padding: 10px;
  /* overflow-y: auto; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Open the sidebar when the 'open' class is added */
.departments-sidebar.open {
  display: flex;
  margin-left: 2%;
}

/* Header in the Departments Sidebar */
.departments-sidebar h3 {
  color: rgb(253, 253, 253);
  display: none;
}

.dpmt-button-container-met {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dpmt-button-container-harv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.department-title {
  margin: 0;
}

/* Buttons in the Departments Sidebar */
.departments-sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.departments-sidebar button:hover {
  background-color: #333;
}



/* || Pagination Controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination-controls button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


}

@media (min-width: 720px){
  .saved-exhibitions{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-header h2 {
  font-size: 18px;
  display: block;
}

/* || CURATE PAGE */

/* CURATE PREVIEW */

.curate-container {
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'preview browse';
  column-gap: 20px;
  /* margin-top: 42px; */
  /* margin-left: 5%;
  margin-right: 5%; */
}

.curate-preview {
  grid-area: preview;
  display: grid;
  grid-template-rows: 5vh 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'title . .'
    'exhibition exhibition exhibition';
  /* width: 40vw; */
  height: 80vh;
}

.exhibition-title {
  grid-area: title;
  /* height: 6vh; */
}

.exhibition-preview-container {
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
  grid-area: exhibition;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: flex-start;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 5px;
}

.exhibit {
  display: grid;
  /* margin-left: 10px; */
  flex-basis: 20%;
  height: 148px;
  justify-items: center;
}

.exhibit button {
  background-color: #242424;
  color: #b1a8a8;
  padding: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: xx-small;
  justify-self: end;
}

.exhibit button:hover {
  background-color: #3f3e3e;
  color: white;
}

.exhibit img {
  max-height: 10vh;
  max-width: 7vw;
}

.exhibit p {
  font-size: x-small;
}

.exhibit-default {
  align-self: center;
  margin: auto;
}


/* CURATE BROWSE */


.curate-browse {
  grid-area: browse;
  display: grid;
  grid-template-areas:
    'harvard-link met-link'
    'browse-container browse-container'
    'browse-container browse-container';
  /* width: 40vw; */
  height: 80vh;
  /* border: #000000 2px solid; */
  /* box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8); */
}


.met-link {
  color: rgb(190, 180, 180);
  grid-area: met-link;
  height: 5vh;
  font-size: 12px;
}

.met-link:hover {
  color: white;
}

.met-link.met-toggle {
  background-color: rgb(81, 81, 87);
}

.harvard-link.harvard-toggle {
  background-color: rgb(81, 81, 87);
}

.harvard-link {
  grid-area: harvard-link;
  height: 5vh;
  color: rgb(190, 180, 180);
  font-size: 12px;
}

.harvard-link:hover {
  color: white;
}


/*MET & HARVARD COMPONENTS*/

.browse-page {
  /* border: #2c2b2b 2px solid;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8); */
  grid-area: browse-container;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 10px;
  padding: 10px;
  margin-top: 0;
}

/* 
.content-wrapper {
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
} */

.artworks-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.artwork-card-cb {
  padding: 20px;
  background-color: #353535;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
  list-style-type: none;
}

.artwork-card-cb h2 {
  font-size: 1.5em;
}

.artwork-card-cb button {
  margin: 5px;
  font-size: 1em;
}

.artwork-image-cb {
  display: block;
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
}

@media (min-width: 820px){
  .home-header h2{
    font-size: 24px;
  }
}

@media (min-width: 1024px){
  .saved-exhibitions {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .exhibition-preview-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}