a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* || HOME PAGE */

.modal-select-container {
  display: flex;
  justify-content: center;
}

.modal-select {
  text-align: center;
  font-size: 14px;
}

.carousel-item {
  display: grid;
  grid-template-rows: 1fr 3fr;
  min-width: 100%;
  background-color: #494949;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 8px 15px 15px 15px;
  box-shadow: 5px 5px 10px 2px rgba(5, 5, 5, 0.8);
}

.delete-button {
  background-color: #494949;
  grid-row: 1;
  justify-self: left;
  color: #b1a8a8;
  border: none;
  padding: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.delete-button:hover {
  background-color: #3f3e3e;
  color: white;
}

.exhibition-link {
  text-decoration: none;
  color: #d6caca;
  justify-self: center;
  font-size: 12px;
}

.exhibition-link:hover {
  color: white;
}

/* Exhibition Carousel CSS*/

.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255) !important;
}


/* || CURATE PAGE */

/* CURATE PREVIEW */

.curate-container {
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'preview browse';
  column-gap: 50px;
  margin-left: 10px;
  margin-right: 50px;
}

.curate-preview {
  grid-area: preview;
  display: grid;
  grid-template-rows: 6vh 1fr;
  grid-template-areas:
    'home-button title'
    'exhibition exhibition';
  /* width: 40vw; */
  height: 90vh;
}

.home-button {
  grid-area: home-button;
  /* height: 6vh; */
}

.exhibition-title {
  grid-area: title;
  /* height: 6vh; */
}

.exhibition-preview-container {
  border: #ffffff 2px solid;
  grid-area: exhibition;
  flex-direction: row;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.exhibit {
  height: 100px;
  width: auto;
  max-width: 200px;
}

.delete-button-cp {
  background-color: #494949;
  grid-row: 1;
  justify-self: left;
  color: #b1a8a8;
  border: none;
  padding: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.delete-button-cp:hover {
  background-color: #3f3e3e;
  color: white;
}

/* CURATE BROWSE */

.curate-browse {
  grid-area: browse;
  display: grid;
  grid-template-areas:
    'met-link harvard-link'
    'browse-container browse-container'
    'browse-container browse-container';
  /* width: 40vw; */
  height: 90vh;
}


.met-link {
  color: rgb(190, 180, 180);
  grid-area: met-link;
  height: 6vh;

}

.met-link:hover {
  color: white;
}

.met-link.met-toggle {
  background-color: rgb(81, 81, 87);
}
.harvard-link.harvard-toggle {
  background-color: rgb(81, 81, 87);
}

.harvard-link {
  grid-area: harvard-link;
  height: 6vh;
  color: rgb(190, 180, 180);
}

.harvard-link:hover {
  color: white;
}


/*MET & HARVARD COMPONENTS*/

.browse-page {  
  border: solid white 2px;
  grid-area: browse-container;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  max-width: 100%;
  gap: 20px;
  width: 100%;
}
/* 
.content-wrapper {
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
} */

.artworks-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.artwork-card-cb {
  padding: 20px;
  background-color: #353535;
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
  list-style-type: none;
}

.artwork-card-cb button {
  margin: 5px;
}

.artwork-image-cb {
  display: block;
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* || ARTWORK DETAILS */

.artwork-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #dbdbdb;
}

.artwork-title {
  font-size: 30px;
}

.artwork-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.artwork-image {
  display: block;
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.artwork-info {
  background-color: #f9f9f9;
  padding: 20px;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.artwork-info p {
  margin: 10px 0;
}

.artwork-info a {
  color: #007acc;
  text-decoration: none;
}

.artwork-info a:hover {
  text-decoration: underline;
}

/* || EXHIBITION PAGE */

.exhibition-container {
  max-height: 100%;
}

.carousel-container {
  margin: auto;
  overflow: visible;
  padding: 10px;
}

.carousel-item-artwork {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: white;
  background-color: #494949;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  box-shadow: 5px 5px 10px 2px rgba(5, 5, 5, 0.8);
}

.artwork-details-container-ep {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #dbdbdb;
}

.artwork-title-ep {
  font-size: 30px;
}

.artwork-image-container-ep {
  text-align: center;
  margin-bottom: 20px;
}

.carousel-artwork-image {
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
  object-fit: contain;
  border-radius: 5px;
}

.artwork-info-ep {
  background-color: #f9f9f9;
  padding: 20px;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* || SIDEBAR */

/* Sidebar Toggle Button */
.toggle-sidebar-btn {
  background-color: #333;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

/* Sidebar for Departments (Hidden by default on small screens) */
.departments-sidebar {
  display: none;
  flex: 0 0 200px;
  justify-content: center;
  padding: 10px;
  /* overflow-y: auto; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Open the sidebar when the 'open' class is added */
.departments-sidebar.open {
  display: flex;
  margin-left: 2%;
}

/* Header in the Departments Sidebar */
.departments-sidebar h3 {
  color: rgb(253, 253, 253);
  display: none;
}

.dpmt-button-container-met {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dpmt-button-container-harv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Buttons in the Departments Sidebar */
.departments-sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.departments-sidebar button:hover {
  background-color: #333;
}



/* || Pagination Controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination-controls button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* || MODAL CSS */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: rgb(230, 231, 219);
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
  color: #333;
  padding: 20px;
  position: relative;
  width: 75%;
}


.modal-select option {
  text-align: center;
  font-size: 10px;
}

.close-btn {
  position: absolute;
  color: #818181;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  color: #131212;
}



/* Very Small Screens (Under 420px)*/
@media (max-width: 420px) {
  /* .dpmt-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .dpmt-button-container-harv {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */

  h1 {
    font-size: 30px;
  }

  .artworks-content {

    padding: 0px;
  }

  .container {

    padding: 0px;

  }

}

/* medium phones (Under 720px)*/
@media (max-width: 720px) {

  .artworks-content {

    padding: 0px;
  }

  .container {

    padding: 0px;

  }

}

/* Tablets (720px - 1023px) */
@media (min-width: 720px) {
  .carousel-container {
    width: 90%;
  }

  .modal-select {
    font-size: 26px;
  }

  .carousel-item {
    flex: 0 0 60%;
    max-width: 60%;
    font-size: 18px;
  }

  .carousel-btn {
    font-size: 20px;
    padding: 10px 15px;
  }

  /* .departments-sidebar {
    display: block;
    flex: 0 0 200px;
  } */

  /* .departments-sidebar.open {
    display: block;
    flex: 0 0 200px;
  } */

  /* .departments-sidebar h3 {
    display: block;
  } */

  /* .toggle-sidebar-btn {
    display: none;
  } */
/* 
  .dpmt-button-container {
    display: block;
  } */

  /* .dpmt-button-container-harv {
    display: block;
  } */

  .content-wrapper {
    display: flex;
  }

  .artwork-title {
    font-size: 40px;
  }
}

/* Desktops (1024px+) */
@media (min-width: 1024px) {
  .carousel {
    gap: 20px;
  }

  /* .departments-sidebar {
    display: block;
  }

  .toggle-sidebar-btn {
    display: none;
  } */

  .content-wrapper {
    display: flex;
  }
}